<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelpMyInterview</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>controller.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCanditateServlet</display-name>
    <servlet-name>RegisterCanditateServlet</servlet-name>
    <servlet-class>controller.RegisterCanditateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCanditateServlet</servlet-name>
    <url-pattern>/regcan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCanditateServlet</display-name>
    <servlet-name>LoginCanditateServlet</servlet-name>
    <servlet-class>controller.LoginCanditateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCanditateServlet</servlet-name>
    <url-pattern>/logcan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>